
{
    margin-bottom: 2rem;
}

.action, .select>*
{
    display: block;
}

.select select, .select input
{
    width: 200px;
}

.select label:first-child>span
{
    display: inline-block;
    width: 8rem;
}

.select .location
{
    margin: 0.5rem 0 0.75rem 0;
}

.select [name^="city"]
{
    margin-left: 0.25rem;
}