section
{
    background-color: aliceblue;
    border: solid 2px silver;
    border-radius: 5px;
}

section>*
{
    padding: 0.75rem 0;
    margin: 0 1rem;
}

section>div
{
    border-bottom: solid 1px silver;
}

#author>a
{
    color: unset;
    font-weight: bold;
}

#meta *
{
    color: steelblue;
}

#meta>*
{
    background-repeat: no-repeat;
    padding-left: 1rem;
}

#content
{
    background-image: url(/img/icons/40.png);
    margin-bottom: 0.5rem;
}

#content>a
{
    display: inline;
    margin: 0.25rem;
}

#location
{
    background-image: url(/img/icons/61.png);
}

#location>a:first-child
{
    margin-left: 0.25rem;
}

p
{
    line-height: 1.5;
}

button
{
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 0.5rem 3.5rem;
}

button>img
{
    position: relative;
    top: 2px;
    margin-right: 0.25rem;
}